{name, "ex_cssmin"}.
{description, "CSS Minifier for Erlang"}.
{homepage, "https://github.com/extend/ex_cssmin"}.
{url, {git, "https://github.com/extend/ex_cssmin.git", {branch, "master"}}}.
{authors, ["Loïc Hoguin <essen@dev-extend.eu>"]}.
{license, "BSD", "LICENSE"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
